[submodule "ThirdParty/QtWebSockets"]
	path = ThirdParty/QtWebSockets
	url = https://p3root@github.com/p3root/QtWebSocket.git
[submodule "ThirdParty/QHttpServer"]
	path = ThirdParty/QHttpServer
	url = https://patrik@github.com/p3root/qhttpserver
[submodule "ThirdParty/qhttpserver"]
	path = ThirdParty/qhttpserver
	url = https://patrik@github.com/nikhilm/qhttpserver
[submodule "ThirdParty/QtWebSocket"]
	path = ThirdParty/QtWebSocket
	url = https://p3root@github.com/p3root/QtWebSocket.git
